<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
                        roleName: {required: true,maxlength:30},
						roleCode: {required: true,maxlength:60,enAndNumberRule:false},
						note: {required: false,maxlength:200}
					},
			
					messages: {
						roleName: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.role.roleName')",maxlength:""},
						roleCode: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.role.roleCode')",maxlength:""},
						note: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.role.note')",maxlength:""}
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/role");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/role/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/role"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>#springMessage('tbtSps.role')&nbsp;&gt;&nbsp;#springMessage('view.lable.add')
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
                                    <label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="roleCode"><span style="color: red">#springMessage('tbtSps.role.roleCode')</span></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="roleCode" id="roleCode" class="col-xs-12 col-sm-12" />
                                    </div>
                                    <label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="roleName"><span style="color: red">#springMessage('tbtSps.role.roleName')<span></span></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="roleName" id="roleName" class="col-xs-12 col-sm-12" />
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="note">#springMessage('tbtSps.role.note')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="note" id="note" class="col-xs-12 col-sm-12" />
                                    </div>
                                    <label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userState">#springMessage('tbtSps.user.userState')</label>
                                    <div class="col-sm-4">
                                        <label class="col-xs-3 col-sm-3"> <input type="radio" name="enable" id="enable_Y" value="1" checked="true"  /> 启用</label>
                                        <label class="col-xs-3 col-sm-3">  <input type="radio" name="enable" id="enable_N" value="0" />  禁用 </label>
                                    </div>
                                </div>
                                #if($!roleType)
                                    <div class="form-group">
                                        <label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="note">角色类型</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="roleType" id="roleType" class="col-xs-12 col-sm-12" />
                                        </div>
                                    </div>
                                #end
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>#springMessage('view.lable.back')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>#springMessage('view.lable.submit')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
            #parse("/validate_extends.vm")
	</body>
</html>
