<link rel="stylesheet" href="#springUrl('')/static/css/topFrame_tab.css" />
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container" style="height: 80px">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <img src="#springUrl('')/static/avatars/logo.png" width="33%"  style="margin-top:-6px;"/>
                    <span class="bold">农药</span>
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="green">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="#springUrl('')/static/avatars/user.jpg" alt="Jason's Photo" />
                        <span class="user-info"><small>欢迎光临,</small>$!name</span>
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li><a href="#"><i class="icon-user"></i>个人资料</a></li>
                        <li><a href="javascript:void(0)" onclick="link('110','修改密码','/user/modifyPassword','10','系统管理');"><i class="icon-cog"></i>修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="#springUrl('')/login"><i class="icon-off"></i>登录</a></li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<script>
    <!--处理点击tab的请求-->
    function link(c,n,u,pc,pn){      debugger ;
        document.getElementById("frame-content").src=u;
    }
    <!--这张点击tab的样式-->
    $(function() {
        $('ul li').click(function(){
            $(this).siblings().removeClass('selected');
            $(this).addClass('selected');
        })
    });
</script>
<div class="navbar navbar-default" id="tab" style="min-height:33px">
    <div id="tab-header">
        <ul>
            <li class="selected"><a href="javascript:void(0)" onclick="link('200','首页','user','20','首页')">首页</a></li>
            <li><a href="javascript:void(0)" onclick="link('200','参数','user','20','参数')">用户</a></li>
            <li><a href="javascript:void(0)" onclick="link('210','角色管理','role','20','参数')">角色</a></li>
            <li><a href="javascript:void(0)" onclick="link('220','通报类型管理','notificationType','20','通报类型管理')">通报类型</a></li>
            <li><a href="javascript:void(0)" onclick="link('230','通报成员管理','country','20','通报成员管理')">通报成员</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','原文语种','language','20','原文语种')">原文语种</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','目标理由','targereason','20','目标理由')">目标理由</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','国际标准','internationalStandard','20','国际标准')">国际标准</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','相关农药','relationMedicine','20','相关农药')">相关农药</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','sps通报','spsInfo','20','sps通报')">sps通报</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','tbt通报','relationMedicine','20','tbt通报')">tbt通报</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','全文检索','relationMedicine','20','全文检索')">全文检索</a></li>
            <li><a href="javascript:void(0)" onclick="link('240','统计','relationMedicine','20','统计')">统计</a></li>
##            <li><a href="javascript:void(0)" onclick="link('320','参数','systemPar','20','参数')">参数</a></li>
        </ul>
    </div>
</div>