<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												notificationCategoryCode: {required: true},
						tbtCode: {required: true},
					},
			
					messages: {
						notificationCategoryCode: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.relationTbnotificationCategory.notificationCategoryCode')"},
						tbtCode: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.relationTbnotificationCategory.tbtCode')"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/relationTbnotificationCategory");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/relationTbnotificationCategory/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/relationTbnotificationCategory"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>#springMessage('tbtSps.relationTbnotificationCategory')&nbsp;&gt;&nbsp;#springMessage('view.lable.add')
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="notificationCategoryCode">#springMessage('tbtSps.relationTbnotificationCategory.notificationCategoryCode')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="notificationCategoryCode" id="notificationCategoryCode" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="tbtCode">#springMessage('tbtSps.relationTbnotificationCategory.tbtCode')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="tbtCode" id="tbtCode" class="col-xs-12 col-sm-12" />
                                    </div>
								</div>
								<div class="form-group">
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>#springMessage('view.lable.back')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>#springMessage('view.lable.submit')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
