<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												tUId: {required: true},
						userCode: {required: true},
						roleCode: {required: true},
						note: {required: true},
					},
			
					messages: {
						tUId: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.userRole.tUId')"},
						userCode: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.userRole.userCode')"},
						roleCode: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.userRole.roleCode')"},
						note: { required: "#springMessage('view.lable.input')#springMessage('tbtSps.userRole.note')"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/userRole");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/userRole/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/userRole"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>#springMessage('tbtSps.userRole')&nbsp;&gt;&nbsp;#springMessage('view.lable.update')
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="tUId">#springMessage('tbtSps.userRole.tUId')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="tUId" id="tUId" class="col-xs-12 col-sm-12" value="$!userRole.tUId" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userCode">#springMessage('tbtSps.userRole.userCode')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userCode" id="userCode" class="col-xs-12 col-sm-12" value="$!userRole.userCode" />
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="roleCode">#springMessage('tbtSps.userRole.roleCode')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="roleCode" id="roleCode" class="col-xs-12 col-sm-12" value="$!userRole.roleCode" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="note">#springMessage('tbtSps.userRole.note')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="note" id="note" class="col-xs-12 col-sm-12" value="$!userRole.note" />
                                    </div>
								</div>
								<div class="form-group">
                                </div>
								<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!userRole.id" />
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>#springMessage('view.lable.back')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>#springMessage('view.lable.submit')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
