<!DOCTYPE html>
<html lang="zh-cn">
<head>
    #parse("/layout/head.vm")
    <script src="#springUrl('')/static/js/fuelux/fuelux.spinner.min.js"></script>

    <script language="javascript">
        var formValidate ={
            errorElement:"em",
            errorClass:"red",
            rules: {
                resourceName: {required: true, maxlength:100}
            },
            messages: {
                resourceName: { required: "#springMessage('portal.resource.name.tip')", maxlength:jQuery.format("#springMessage('portal.resource.name.char')")}
            }
        };
        $(function() {
            $('#addForm').validate(formValidate);

            $("#icon").change(function(){
                var icon= $("#icon").val();
                $("#icon-show").attr("class",icon);
            });

            $('#orders').ace_spinner(
                    {value:$!resource.orders,min:1,max:100,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'}
            ).on( "blur", function( ) {
              if($.trim($(this).val()).length==0){
                  $(this).val("10")
              }
            });

            $("#btn-submit").click(submitAddResource);

            //有无子菜单选项的切换
            $("input[name=parentFlag]").change(function(){
                $("#resourceUrl").toggle();
                if($(this).val()=="0"){    //无子节点的情况
                    formValidate.rules.url.required=true;
                    formValidate.rules.url.url=true;
                    formValidate.messages.url.required="#springMessage('portal.resource.name.tip')";
                    formValidate.messages.url.url=jQuery.format("#springMessage('portal.resource.url.tip')");
                }
            })
        });

        function submitAddResource(){
            var form = $("#addForm");
            if(form.valid()==false){
                return;
            }
            var dataObj=form.serialize()+"&level="+$("#level").val();
            jQuery.post(basePath + "/resource/update",
                    dataObj,
                    function(data) {
                        //MyPopWindow.SubmitCompletedCallback2(data, basePath + "/resource");
                        var alertMsg = data.message;
                        if(data.code == "200"){
                            var resourceName = $("#resourceName").val();
                            dialog.close("dialogaddChildren");
                            dialog.alert("修改成功！");
                        }else{
                            $("#errorMsg").text(alertMsg).show();
                        }
                    }
            );
        }

    </script>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-main">
            <form class="form-horizontal" role="form" id="addForm">
                <input type="hidden" name="resourceCode" value="$!resource.resourceCode">
                <input type="hidden" name="parentCode" value="$!resource.parentCode">
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" ><span class="red mr5">*</span>#springMessage('portal.platform')</label>
                    <div class="col-sm-6">
                        <select name="platfrom" id="plant" class="col-xs-12 col-sm-12">
                            #foreach( $pl in $plant)
                                <option value="$!pl"
                                        #if($!pl==$!resource.platfrom)
                                            selected="selected"
                                        #end
                                        >$!pl</option>
                            #end
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" ><span class="red mr5">*</span>资源类型</label>
                    <div class="col-sm-6">
                        <select name="resourceType" id="resourceType" class="col-xs-12 col-sm-12">
                            <option value="1"
                                #if(1==$!resource.resourceType)
                                    selected="selected"
                                #end
                                    >普通资源</option>
                            <option value="3"
                                #if(3==$!resource.resourceType)
                                    selected="selected"
                                #end
                                    >超级资源</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" for="resourceName"><span class="red mr5">*</span>#springMessage('portal.resource.name')</label>
                    <div class="col-sm-6">
                        <input type="text" name="resourceName" id="resourceName" class="col-xs-12 col-sm-12" value="$!resource.resourceName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right"><span class="red mr5">*</span>是否有子菜单</label>
                    <div class="col-sm-6">
                        <label class="width-40"> <input  type="radio" name="parentFlag" value="1"
                                #if($!resource.parentFlag==1)
                                    checked="true"
                                #end
                                /> 是</label>
                        <label class="width-40"> <input  type="radio" name="parentFlag" value="0"
                            #if($!resource.parentFlag==0)
                                checked="true"
                            #end
                                /> 否</label>
                    </div>
                </div>
                <div id="resourceUrl" class="form-group"
                     #if($!resource.parentFlag==1)
                        style="display: none;"
                     #end
                     >
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" for="url"><span class="red mr5">*</span>#springMessage('portal.resource.url')</label>
                    <div class="col-sm-6">
                        <input type="text" name="url" id="url" class="col-xs-12 col-sm-12" value="$!resource.url"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" for="orders"><span class="red mr5">*</span>#springMessage('portal.system.priority')</label>
                    <div class="col-sm-2">
                        <input type="text" name="orders" id="orders" class="col-xs-12 col-sm-12 input-mini" value="$!resource.orders"/>
                    </div>
                    <div class="col-sm-5 ml15 mt5"><span class='grey'>#springMessage('view.lable.resource.Prompt')</span></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" for="icon"><span class="red mr5">*</span>#springMessage('portal.resource.icon')</label>
                    <div class="col-sm-4">
                        <select name="icon" id="icon" class="col-xs-12 col-sm-12">
                            #foreach( $icon in $icons)
                                <option value="$!icon"
                                        #if($!icon == $!resource.icon)
                                            selected="selected"
                                        #end
                                        >$!icon</option>
                            #end
                        </select>
                    </div>
                    <span id="icon-show" class="${icons.get(0)} mt10"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right" for="remark">#springMessage('portal.dep.remark')</label>
                    <div class="col-sm-6">
                        <input type="text" name="note" id="remark" class="col-xs-12 col-sm-12" value="$!resource.note"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right"><span class="red mr5">*</span>#springMessage('portal.resource.isMenu')</label>
                    <div class="col-sm-6">
                        <label class="width-40"> <input  type="radio" name="buttonflag" value="1"
                                #if($!resource.buttonflag==1)
                                    checked="true"
                                #end
                                /> 是</label>
                        <label class="width-40"> <input type="radio" name="buttonflag" value="0"
                            #if($!resource.buttonflag==0)
                                checked="true"
                            #end
                                /> 否</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-sm-2 control-label no-padding-right"><span class="red mr5">*</span>是否展开</label>
                    <div class="col-sm-6">
                        <label class="width-40"> <input type="radio" name="openFlag" value="1"
                            #if($!resource.openFlag==1)
                                checked="true"
                            #end
                                /> 是</label>
                        <label class="width-40"> <input  type="radio" name="openFlag" value="0"
                            #if($!resource.openFlag==0)
                             checked="true"
                            #end
                                /> 否</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>#springMessage('view.lable.submit')</button>
                    </div>
                </div>
            </form>
            <div id="errorMsg" class="form-group col-sm-offset-2 red bolder" style="display: none;"></div>
        </div>
    </div>
</div>
</body>
</html>
