<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
		<script language="javascript"> 
			$(function() {
				$("#btn-submit").click(function() {
                    var form = $("#updateForm");
                    if(form.valid()==false){
                        return;
                    }
                    $("#button_div_id").hide();
                    jQuery.post('$basePath/user/updatePassword',
                            form.serialize(),
                            function(data) {
                                dialog.alert(data.message);
                                if(data.code == 200){
                                    form[0].reset();
                                    if(top.location!=self.location)top.location=self.location;
                                    window.location.href= basePath+"/";
//                                    $("#button_div_id").hide();
                                } else{
                                    $("#button_div_id").show();
                                }

                            }
                    );
   				});
			});
        </script>
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>#springMessage('tbtSps.user')#springMessage('view.lable.updatePassword')
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm" method="post">
								<div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" >#springMessage('tbtSps.user.userName')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userName" id="userName" class="col-xs-10 col-sm-8" value="$!userName" readonly="true"/>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" >#springMessage('tbtSps.user.oraPassword')</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="oraPassword" id="oraPassword" class="col-xs-10 col-sm-8" />
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" >#springMessage('tbtSps.user.password')</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="password" id="password" class="col-xs-10 col-sm-8" />
                                    </div>
								</div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" >#springMessage('tbtSps.user.confirmPassword')</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="confirmPassword" id="confirmPassword" class="col-xs-10 col-sm-8" />
                                    </div>
                                </div>
								<div class="form-group">
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-8" id="button_div_id">
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-success btn-sm" type="button" id="btn-submit" ><i class="icon-ok"></i>#springMessage('view.lable.submit')</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
