<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
		<script language="javascript"> 
			$(function() {
				$("#btn-query").click(function() {
        			pageSubmit(1);
   				});
				$("#btn-add").click(function() {
        			window.location.href=("$basePath/spsInfoLog/addForward");
   				});
			});
        	// Submit Search Form
        	function pageSubmit(pageNoParam) {
                $("#curPage").val(pageNoParam);
            	$("#queryForm").attr("action", "$basePath/spsInfoLog/queryByPage");
                $("#queryForm").attr("method", "POST");
                $("#queryForm").submit();
        	}
        	
        	function toUpdate(parameterId){
        		window.location.href=("$basePath/spsInfoLog/updateForward?id="+parameterId);
        	}
        	
        	function toDelete(parameterId){
        		MyPopWindow.ExecuteDelete("$basePath/spsInfoLog/delete",{ id : parameterId });
        	}
        	
        </script>
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>#springMessage('tbtSps.spsInfoLog')#springMessage('view.lable.search')
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="queryForm">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="spsCode">#springMessage('tbtSps.spsInfoLog.spsCode')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="spsCode" id="spsCode" class="col-xs-10 col-sm-8" value="$!query.spsCode"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="state">#springMessage('tbtSps.spsInfoLog.state')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="state" id="state" class="col-xs-10 col-sm-8" value="$!query.state"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="oraState">#springMessage('tbtSps.spsInfoLog.oraState')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="oraState" id="oraState" class="col-xs-10 col-sm-8" value="$!query.oraState"/>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="content">#springMessage('tbtSps.spsInfoLog.content')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="content" id="content" class="col-xs-10 col-sm-8" value="$!query.content"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="logAttrRelation">#springMessage('tbtSps.spsInfoLog.logAttrRelation')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="logAttrRelation" id="logAttrRelation" class="col-xs-10 col-sm-8" value="$!query.logAttrRelation"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="opertOrder">#springMessage('tbtSps.spsInfoLog.opertOrder')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="opertOrder" id="opertOrder" class="col-xs-10 col-sm-8" value="$!query.opertOrder"/>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="back1">#springMessage('tbtSps.spsInfoLog.back1')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="back1" id="back1" class="col-xs-10 col-sm-8" value="$!query.back1"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="back2">#springMessage('tbtSps.spsInfoLog.back2')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="back2" id="back2" class="col-xs-10 col-sm-8" value="$!query.back2"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="back3">#springMessage('tbtSps.spsInfoLog.back3')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="back3" id="back3" class="col-xs-10 col-sm-8" value="$!query.back3"/>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="back4">#springMessage('tbtSps.spsInfoLog.back4')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="back4" id="back4" class="col-xs-10 col-sm-8" value="$!query.back4"/>
                                    </div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-8">
    									#parse("/layout/page.vm")
                                        <button class="btn btn-info btn-sm" type="button" id="btn-query"><i class="icon-search"></i>#springMessage('view.lable.search')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-add"><i class="icon-plus"></i>#springMessage('view.lable.add')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-12 table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
							<th class="center">#springMessage('tbtSps.spsInfoLog.id')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.spsCode')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.state')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.oraState')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.content')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.logAttrRelation')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.opertOrder')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.back1')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.back2')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.back3')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.back4')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.createTime')</th>
							<th class="center">#springMessage('tbtSps.spsInfoLog.createUser')</th>
    						<th class="center">#springMessage('view.lable.operate')</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach( $item in $dataList)
                            <tr>
                                <td>$!item.id</td>
                                <td>$!item.spsCode</td>
                                <td>$!item.state</td>
                                <td>$!item.oraState</td>
                                <td>$!item.content</td>
                                <td>$!item.logAttrRelation</td>
                                <td>$!item.opertOrder</td>
                                <td>$!item.back1</td>
                                <td>$!item.back2</td>
                                <td>$!item.back3</td>
                                <td>$!item.back4</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss ',$!item.createTime)</td>
                                <td>$!item.createUser</td>
                                <td>
									<a href="javascript:void(0)" onclick="toDetail($!item.id);" data-toggle="modal"><i class="icon-list">#springMessage('view.lable.detail')</i></a>
									<a href="javascript:void(0)" onclick="toUpdate($!item.id)"><i class="icon-pencil pink">#springMessage('view.lable.update')</i></a>
									<a href="javascript:void(0)" onclick="toDelete($!item.id)"><i class="icon-remove red">#springMessage('view.lable.delete')</i></a>
								</td>
                            </tr>
                        #end
                    </tbody>
                </table>
				#if($!page)
					#pageBarPost($page.totalRow $page.curPage $page.totalPage)
				#end
			</div>
        </div>
		#parse("/spsInfoLog/detailModal.vm")
    </body>
</html>
