<div>
   #foreach($!item_attr in $!listSpsLogAttr)
        <input type="hidden" name="fileNameId" value="$!item_attr.id" id="$!item_attr.id">
        <span id="sp$!item_attr.id">
        <a href="$basePath/fileDownload/download?fileName=$!item_attr.id">$!item_attr.fileName</a>&nbsp;
        <input type="button" onclick="delAttr('$!item_attr.id')" value="删除">  &nbsp;&nbsp;
        </span>
    #end

</div>
<div>
    &nbsp;
</div>

<table border="1px #ooo" id="attr_table" cellpadding="0"
       cellspacing="0" width="30%" class='table table-striped table-bordered table-condensed table-hover'>
    <tr align="center">
        <td width="5%">复选框</td>
        <td width="20%">文件</td>
    </tr>
</table>
<input type="button" onclick="addTr3('attr_table', -1)" value="添加">
<input type="button" onclick="delTr3()" value="删除">
