<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>#springMessage('tbtSps.spsInfo')&nbsp;&gt;&nbsp;#springMessage('view.lable.update')
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px; height: 1500px">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('tbtSps.spsAttr.spsCode')</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-xs-12 col-sm-12" value=" $!{spsInfo.spsCode}" readonly="true"/>
                                    </div>
                                    <label class="col-sm-1 control-label no-padding-right" for="countryCode">#springMessage('tbtSps.spsInfo.publishDate')</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-xs-12 col-sm-12" value=" $!dateTool.format('yyyy-MM-dd',$!spsInfo.publishDate)" readonly="true" />
                                    </div>
                                    <label class="col-sm-1 control-label no-padding-right" for="publishDateIn">#springMessage('tbtSps.spsInfo.countryCode')</label>
                                    <div class="col-sm-3">
                                        <input type="text"  class="col-xs-12 col-sm-12" value="$!spsInfo.countryCode" readonly="true"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('tbtSps.spsInfo.spsOrg')</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-xs-12 col-sm-12" value=" $!{spsInfo.spsOrg}" readonly="true"/>
                                    </div>
                                    <label class="col-sm-1 control-label no-padding-right" for="countryCode">#springMessage('tbtSps.language')</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="col-xs-12 col-sm-12" value=" $!dateTool.format('yyyy-MM-dd',$!spsInfo.publishDate)" readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="coverProduct">#springMessage('tbtSps.spsInfo.coverProduct')</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" rows="3" readonly="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="fileTitle">#springMessage('tbtSps.spsInfo.fileTitle')</label>
                                    <div class="col-sm-11">
                                        <textarea  class="form-control" rows="3" readonly="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="contentDes">#springMessage('tbtSps.spsInfo.contentDes')</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" rows="3" readonly="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('tbtSps.spsInfo.standardYn')</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="col-xs-12 col-sm-12" value=" $!{spsInfo.spsOrg}" readonly="true"/>
                                    </div>
                                    <label class="col-sm-1 control-label no-padding-right" for="countryCode">#springMessage('tbtSps.tbinfo.targetReason')</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="col-xs-12 col-sm-12" value=" $!dateTool.format('yyyy-MM-dd',$!spsInfo.publishDate)" readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="oraLink">#springMessage('tbtSps.spsInfo.oraLink')</label>
                                    <div class="col-sm-11">
                                        <textarea  class="form-control" rows="3" readonly="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="oraLink">#springMessage('tbtSps.spsInfo.oraLink')</label>
                                    <div class="col-sm-11">
                                        <textarea  class="form-control" rows="3" readonly="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('system.spsAttr')</label>
                                    <div class="col-sm-1">
                                        <a href="">下载来吧</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    <script>
        // ****************表格添加，删除行 开始********************************
        /**
         * 为table指定行添加一行
         * tab 表id
         * row 行数，如：0->第一行 1->第二行 -2->倒数第二行 -1->最后一行
         * trHtml 添加行的html代码
         */
        function addTr(tab, row, trHtml){
            //获取table最后一行 $("#tab tr:last")
            //获取table第一行 $("#tab tr").eq(0)
            //获取table倒数第二行 $("#tab tr").eq(-2)
            var $tr=$("#"+tab+" tr").eq(row);
            if($tr.size()==0){
                alert("指定的table id或行数不存在！");
                return;
            }
                $tr.after(trHtml);
        }

        function delTr(ckb){
            //获取选中的复选框，然后循环遍历删除
            var ckbs=$("input[name="+ckb+"]:checked");
            if(ckbs.size()==0){
                alert("要删除指定行，需选中要删除的行！");
                return;
            }
            ckbs.each(function(){
                $(this).parent().parent().remove();
            });
        }
        function delTr3(){
            delTr('attr_ckb');
        }
        function addTr3(tab, row){
            var trHtml="<tr align='center'>" +
                    "<td width='5%'><input type='checkbox' name='attr_ckb'/></td>" +
                    "<td width='10%'><input type='file' name='file'/></td>" +
                    "</tr>";
            addTr(tab, row, trHtml);
        }
        // ****************表格添加，删除行 结束********************************

    </script>
	</body>
</html>
