<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>#springMessage('tbtSps.spsInfo')#springMessage('view.lable.search')
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="queryForm">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('tbtSps.status')</label>
                                    <div class="col-sm-3">
                                        <select id="state" name="state" class="chosen-select" >
                                            <option value="">#springMessage('tbtSps.please.choose')</option>
                                            #foreach( $item_spsBtbState in $list_spsBtbState)
                                                <option value="$!item_spsBtbState.state"
                                                        #if($!item_spsBtbState.state==$!query.state)
                                                            selected="selected"
                                                        #end
                                                        >$!item_spsBtbState.content</option>
                                            #end
                                        </select>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="countryCode">#springMessage('tbtSps.spsInfo.countryCode')</label>
                                    <div class="col-sm-3">
                                        <select id="countryCode" name="countryCode" class="chosen-select" >
                                            <option value="">#springMessage('tbtSps.please.choose')</option>
                                            #foreach( $item_country in $list_country)
                                                <option value="$!item_country.countryCode"
                                                    #if($!item_country.countryCode==$!query.countryCode)
                                                        selected="selected"
                                                    #end
                                                        >$!item_country.countryContent</option>
                                            #end
                                        </select>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="publishDateIn">#springMessage('tbtSps.spsInfo.publishYear')</label>
                                    <div class="col-sm-3" id="div_publishDateIn">
                                        <select id="publishDateIn" name="publishDateIn" class="col-sm-10 col-sm-offset-12" >
                                            <option value="">#springMessage('tbtSps.please.choose')</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3" id="div_publishDateIn_1" style="display: none;">
                                        <select id="publishDateIn1" name="publishDateIn1" class="col-sm-10 col-sm-offset-12" >
                                            <option value="">#springMessage('tbtSps.please.choose')</option>
                                            #foreach( $item_date in $!list_date)
                                                <option value="$!item_date.versions"
                                                    #if($!item_date.versions==$!query.publishDateIn)
                                                        selected="selected"
                                                    #end
                                                        >$!item_date.versions</option>
                                            #end
                                        </select>
                                    </div>
								</div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-8">
                                        #parse("/layout/page.vm")
                                        <button class="btn btn-info btn-sm" type="button" id="btn-query"><i class="icon-search"></i>#springMessage('view.lable.search')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-success btn-sm" type="button" id="btn-add"><i class="icon-plus"></i>#springMessage('view.lable.add')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-12 table-responsive">
                #parse("/spsInfo/index_content.vm")
			</div>
        </div>
        <script language="javascript">
            // 搜索下拉框
            var config = {
                '.chosen-select' : {width:"100%", search_contains: true, no_results_text:'没有找到'}
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }

            $(function() {
                if($("#countryCode").val()!=""){
                    $("#div_publishDateIn").hide();
                    $("#div_publishDateIn_1").show();
                }else{
                    $("#div_publishDateIn").show();
                    $("#div_publishDateIn_1").hide();
                }


                $("#btn-query").click(function() {
                    pageSubmit(1);
                });
                $("#btn-add").click(function() {
                    window.location.href=("$basePath/spsInfo/addForward");
                });
                $("#countryCode").change(function() {
                    $("#div_publishDateIn").show();
                    $("#div_publishDateIn_1").hide();
                    $("#publishDateIn1").val("");
                    var formData = new FormData($( "#queryForm" )[0]);
                    $.ajax({
                        url: '$basePath/spsInfo/queryCountryDateByCountry' ,
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (returndata) {
                            $("#publishDateIn").html("");//清空下拉框
                            $("#publishDateIn").append("<option value=''>请选择</option>");
                            for(var i=0;i<returndata.result.length;i++){
                                //添加一个元素
                                $("#publishDateIn").append("<option value='"+returndata.result[i].versions+"'>"+returndata.result[i].versions+"</option>");
                            }
                        },
                        error: function (returndata) {
                            alert(returndata);
                        }
                    });
                });
            });
            // Submit Search Form
            function pageSubmit(pageNoParam) {
                $("#curPage").val(pageNoParam);
                $("#queryForm").attr("action", "$basePath/spsInfo/queryByPage");
                $("#queryForm").attr("method", "POST");
                $("#queryForm").submit();
            }

            function toUpdate(spsCode){
                window.location.href=("$basePath/spsInfo/addForward?id="+spsCode);
            }

            function toDelete(parameterId){
                MyPopWindow.ExecuteDelete("$basePath/spsInfo/delete",{ id : parameterId });
            }

        </script>
    </body>
</html>
