<form class="form-horizontal" role="form" >
    <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right" for="status">是否终评</label>
        <div class="col-sm-3">
            #if($!review.overReview==1)
                是
            #else
                否
            #end
        </div>
        <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('tbtSps.spsInfo.experts')</label>
        <div class="col-sm-3">
            <input type="text" class="col-xs-12 col-sm-12" value="$!{review.createUser}" readonly="true"/>
        </div>
        <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('tbtSps.spsInfo.reviewDate')</label>
        <div class="col-sm-3">
            <input type="text" class="col-xs-12 col-sm-12" value="$!dateTool.format('yyyy-MM-dd',$!review.createTime)" readonly="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right" for="content">#springMessage('tbtSps.spsInfo.content')</label>
        <div class="col-sm-11">
            <textarea  class="form-control" rows="3" name="content" readonly="readonly">$!review.content</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right" for="status">#springMessage('system.spsAttr.exists')</label>
        <div class="col-sm-11">
            #foreach( $item_attr in $review.listLogAttr)
                <a href="$basePath/fileDownload/download?fileName=$!item_attr.id">$!item_attr.fileName</a>&nbsp;&nbsp;
            #end
        </div>
    </div>
</form>